

/* 웹폰트 */


@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100;400&display=swap');


/* 기본 설정 */
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background-color: #EEE;
}

.font_gray {
    color: #666;
}

.margin_tb_5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.lineheight_180per {
    line-height: 180%;
}

/* 타이틀 폰트 */
.title_font {
    
    font-family: 'Jua', sans-serif;
}

/* main_wrap 설정 */
#main_wrap {
    background-color: white;

    width: 778px;

    padding: 10px;

    border: 1px solid #aaa;
    border-radius: 5px;

    margin: 10px auto;
    box-shadow: 3px 3px 10px #ccc;
}

/* header 설정 */
header {
    padding: 30px;
}

/* 네비게이션 설정 */
nav {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    
    overflow: hidden;
}



nav>ul {
    float: left;
    list-style: none;
}

nav>ul>li {
    float: left;
    padding: 5px 15px;
}

nav>div {
    float: right;
}

/* 검색 영역 */
nav input {
    border: 1px solid #ccc;
    padding: 3px 20px;

    margin-top: 3px;
}

nav input[type=text] {
    width: 100px;
    border-radius: 20px 0 0 20px;
}

nav input[type="button"] {
    border-radius: 0 20px 20px 0;

    margin-left: -1px;
    margin-right: 5px;
}

/* Contents 영역 설정 */
#contents_wrap {
    overflow: hidden;
}

#contents_wrap>section {
    width: 600px;
    float: left;
}

#contents_wrap>aside {
    width: 170px;
    float: right;
}

#contents_wrap>section>article {
    padding: 25px;

    border-bottom:  1px solid #ccc;

}


#contents_wrap>section>article>img {
    width: 500px;
}

/* aside 영역 설정 */
/* #contents_wrap>aside {
    padding-top: 30px;
} */

#contents_wrap>aside>h3 {
    margin-top: 30px;
}

#contents_wrap>aside>ul>li {
    list-style: none;
    padding-left: 10px;
}

/* footer 설정 */
footer {
    height: 30px;
    text-align: center;
    line-height: 50px;
}